<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <p>Instagram foto will go here!</p>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
